/* login.css */

.login-content {
  --background: var(--background-color);
  height: 10dvh;
}

.illustration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background: var(--background-color);
}

.forest-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.form-container {
  background: var(--co-white);
  border-radius: 24px 24px 0 0;
  padding: 1rem !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 -1px 10px 1px var(--secondary-color);
}

.welcome-text {
  text-align: center;
  margin-bottom: 32px;
}

.welcome-text h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
  margin: 0 0 8px 0;
}

.welcome-text p {
  font-size: 16px;
  color: var(--co-gray);
  margin: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.email-input,
.name-input,
.password-input {
  border-radius: 8px;
  --padding-end: 16px;
  --min-height: 70px;
  width: 100%;
  border: 1px solid var(--co-back-gray) !important;
  /* background-color: var(--background-color) !important; */
}


.email-input ion-input,
.password-input ion-input {
  --placeholder-color: #a0aec0;
  --color: #2d3748;
  font-size: 16px;
}

.password-toggle {
  color: var(--primary-color);
  font-size: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.forgot-password {
  text-align: center;
  margin-bottom: 32px;
}

.forgot-password span {
  color: #4a5568;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.continue-button {
  --background: var(--primary-color);
  --background-activated: var(--secondary-color);
  --color: var(--co-back-gray);
  --border-radius: 12px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
  text-transform: none;
}
.auth-divider {
  text-align: center;
  margin: 2rem 0 1.5rem 0;
  position: relative;
}

.auth-divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--co-back-gray-3);
}

.auth-divider span {
  background: var(--co-white);
  padding: .2rem 1.5rem !important;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px var(--co-white);
  color: var(--co-gray);
  font-size: 0.9rem;
  position: relative;
  z-index: 1;
}
.google-button {
  --background: transparent;
  --background-activated: #f7fafc;
  --color: var(--co-gray);
  --border-color: var(--co-back-gray);
  --border-radius: 12px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
}

.google-button ion-icon {
  font-size: 20px;
  margin-right: 8px;
}

/* Header personalizado */
ion-header.ion-no-border {
  box-shadow: none;
  background-color: var(--background-color);
  /* position: fixed; */
}

ion-toolbar[color="transparent"] {
  --background: transparent;
  --color: #2d3748;
}

ion-back-button {
  --color: #2d3748;
}
.input-icon {
  margin-right: .5rem !important;
  color: var(--primary-color);
}
@media (max-height: 700px) {
  .illustration-container {
    height: 25dvh;
  }
  .forest-image {
    margin-bottom: 2.5rem !important;
  }
  .form-container {
    height: 70dvh;
  }
  
  .welcome-text {
    margin-bottom: 24px;
  }
  
  .welcome-text h1 {
    font-size: 22px;
  }
}