.user-profile {
  display: flex ;
  align-items: center;
  padding: .75rem .5rem .5rem  !important;
  gap: .75rem ;
  width: 100%;
}
.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: .5rem;
  object-fit: cover;
}

.weather-icon {
  width: 50px;
  height: 50px;
}
.input-search-bar {
  width: 100%;
  padding: .65rem !important;
  border-radius: 6px;
  border: 1px solid var(--co-back-gray) !important;
}
.list-categories {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .3rem;
  overflow-x: auto;
  padding: 0 .5rem !important;
}
.btn-item {
  background:var(--co-back-gray);
  color:var(--primary-color);
  display: flex;
  gap: .5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  padding: .5rem !important;
}
