.custom-searchbar {
  --background: var(--co-back-gray);
  --color: #222;
  --placeholder-color: #888;
  --icon-color: #999;
  width: 100%;
  border-radius: 10px;
  margin-top: .75rem;
}
.toolbar-with-avatar {
  display: flex;
  align-items: center;
  width: 100%;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ion-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

/* Clima */
.weather-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.weather-icon {
  width: 60px;
  height: 60px;
}

.weather-temp {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
}

.list-categories {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 0.5rem 0.5rem !important;
}

.btn-item {
  background: var(--co-back-gray, #f1f1f1);
  color: var(--primary-color, #333);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.9rem;
  transition: background 0.3s ease;
  border: none;
}

.btn-item:hover {
  background: #e0f2f1;
}

/* Botón de cerrar sesión */
ion-button {
  margin-top: 2rem;
  border-radius: 12px;
}
