.modal-privacy,
.modal-profile {
  width: 100%;
  height: 100%;
} 
.modal-privacy::part(content),
.modal-profile::part(content) {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden; /* evita que contenido sobresalga */
}
.card-privacy,
.card-profile {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 100% !important;
  position: relative !important;
  height: 100% !important;
  padding: 1rem !important;
  gap: 1rem !important;
  box-shadow: none;
}
.modal-profile-avatar{
  width: 110px ;
  height: 110px ;
  border-radius: 50%;
  object-fit: cover;
  margin-top: .8rem !important;
}
.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}
.profile-info {
  display: flex;
  width: 100%;
  height: 480px;
  flex-direction: column;
  gap: .8rem;
  padding: 1rem !important;
}
.profile-subtitle {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: none;
}
.profile-text {
  font-size: 11.5px !important;
  color: var( --co-gray);
  text-align: justify;
}
.profile-ubicacion{
  display: flex;
  gap: 5px;
}
.location-icon{
  color: var(--primary-color);
  font-size: 15px;
}
.footer-profile{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 7.4%;
  box-shadow: none;
  width: 100%;
  padding: 1rem;
  --background: none !important;
  --box-shadow: none;
}
.toolbar-profile{
  width:70%;
  --background: none !important;
  --box-shadow: none;
}
.toolbar-icon{
  width: 20%;
  --background: none !important;
  --box-shadow: none;
}
.btn-edit-profile {
  width: 180px;
  font-size: 1rem;
  --color: var(--co-black-1);
  --background: var(--color-btns);
  --border-radius: 10px;
  --box-shadow: 2px 2px var(--primary-color);
  text-transform: none;
}
.icon-information{
  width: 50px !important;
  height: 30px !important;
  color: var(--primary-color);
}
.modal-privacy-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}
.modal-privacy-content{
  display: flex;
  gap: 1rem;
}
.modal-title{
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}
.tile-privacity{
  margin: 1rem;
}
.imgPrivacy{
  width:150px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: .5rem;
}
.modal-note{
  font-size: 12px;
  color: var( --co-gray);
  text-align: justify;
  padding: 0 .3rem !important;
}
